@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @*  this is just here to make testing easier *@
    <h2><a href="ParkData">See All Parks</a></h2>
    <h2><a href="JSParkData">See All Parks, but it's JavaScript</a></h2>

</div>
